<h2 data-intro="Esplora i post delle varie community siciliane. A presto ci saranno posts anche da altre communities.">
    Post dalle community</h2>
    <div id="feed-app"></div>
<hr>

<% content_for :scripts do %>

<script type="text/javascript">
  var Feed = new Vue(App.Feed);
  Feed.$mount('#feed-app');
</script>

<% end %>
