<h2 data-intro="Scopri i posts dei membri di PAC. A presto ci saranno posts anche da altre communities.">
    Post dalla community di PAC</h2>
    <div id="feed-app">
    </div>
<hr>

<% content_for :scripts do %>

<script type="text/javascript">
  var Feed = new Vue(App.default.Feed);
  Feed.$mount('#feed-app');
</script>

<script type="text/javascript">
  // Set a callback to run when the Google Visualization API is loaded.
  google.charts.setOnLoadCallback(loadChart);

  function loadChart() {
    $('#spinner').show();
    var dataRequest = $.ajax({url: "/feed/data", dataType: "json"});

    dataRequest.fail(function(error){
      console.error(error)
    });

    dataRequest.done(function(data){
      drawChart(data);
    });
  }

  function drawChart(chartData) {
    // Create the data table.
    var data = new google.visualization.DataTable(chartData);

    var dashboard = new google.visualization.Dashboard(document.getElementById('dashboard_div'));

    var today = new Date();
    var last_sixty = new Date(today.getTime() - (60 * 60 * 24 * 60 * 1000));
    var timeSlider = new google.visualization.ControlWrapper({
      'controlType': 'ChartRangeFilter',
      'containerId': 'filter_div',
      'options': {
        'filterColumnIndex': 0,
        ui: {
          chartOptions: {
            height: 50,
            chartArea: {
              width: '80%'
            }
          },
          chartView: {
            columns: [0, 1]
          }
        }
      },
      'state': {
        'range': {
          'start': last_sixty,
          'end': today
        }
      }
    });

    var chart = new google.visualization.ChartWrapper({
      chartType: 'LineChart',
      containerId: 'chart_div',
      options: {
        curveType: 'function',
        legend: 'none',
        vAxis: {
          viewWindow: {
            min: 0
          }
        },
        series: {
          0: {
            color: '#1B5E20'
          }
        }
      }
    });

    google.visualization.events.addListener(timeSlider, 'statechange', selectHandler);

    var timeout = null;
    function selectHandler(e) {
      if (timeout) {
        clearTimeout(timeout);
        timeout = null;
      }
      timeout = setTimeout(applySlider, 1000);
    }

    function applySlider() {
      var range = timeSlider.getState().range;
      var start = range.start.getTime();
      var end = range.end.getTime();

      reloadPosts(start, end);
    }

    function reloadPosts(start, end) {
      $.ajax({
        type: 'GET',
        url: '/feed/posts',
        data: {
          'start': start,
          'end': end
        }
      }).done(function (data) {
        $('#posts-view').html(data);
      }).fail(function (error) {
        console.error("reloadPosts failed");
        console.error(error);
      })
    }

    dashboard.bind(timeSlider, chart);
    dashboard.draw(data);
    $('#spinner').hide();
  }

  $(window).resize(function () {
    drawChart();
  });
</script>
<% end %>