/*
 * "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 */
@import "bootstrap";
@import "typeaheadjs.scss";
@import "font-awesome";
@import "introjs";
@import "home";
@import "profile";
@import "editing";
@import "leaflet";

.navbar .nav > li > a {
    float: none;
    line-height: 19px;
    padding: 9px 10px 11px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color:  #eee;
    cursor: pointer;
}

.navbar .nav > li > a:hover{
    text-decoration: underline;
}

.navbar-brand {
    color: #b71c1c;
}

.custom-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#main-container {
    margin-top: 80px;
}

#user-table {
   vertical-align: middle; 
}

#user-table td {
    vertical-align: middle;
    padding-top: 0.50rem;
    padding-bottom: 0.50rem;
}
