// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-columns {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
}

.card-columns {
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
}

.card {
	cursor: pointer;
}
