// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Need to align search form with bootstrap button
.input-group .twitter-typeahead {
	display: table-cell !important;
}

.tt-dropdown-menu .tt-suggestion {
	color: #333333;
	white-space: nowrap;
}

.tag-cloud-container {
	min-height: 3em;
	text-align: center;
	font-weight: bold;
}

.tag-cloud-container a { text-decoration: none; }

.tag-cloud-container a:hover {
	text-decoration: none;
	color: #bb3344;
}

.tag-cloud-container a:active {
	text-decoration: none;
	color: #bb3344;
}

.cloud-tag {
	color: #4DB6AC;
  transition: text-shadow 0.25s,color 0.35s,font-size 0.25s;
}

.cloud-tag-small { font-size: 1.0em; }
.cloud-tag-medium { font-size: 1.2em; }
.cloud-tag-big { font-size: 1.4em; }
.cloud-tag-verybig { font-size: 1.6em; }
