<div class="text-center">
  <div class="btn-group" role="group" aria-label="Basic example">
    <a class="btn btn-secondary" href="#upcoming">Upcoming</a>
    <a class="btn btn-secondary" href="#future">Future</a>
    <a class="btn btn-secondary" href="#old">Old</a>
  </div>
</div>
<br><br>
<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th class="col-xs-6">Evento</th>
      <th class="col-xs-2">Data</th>
      <th class="col-xs-3">Location</th>
      <th class="col-xs-1">Link</th>
    </tr>
  </thead>

  <tbody>
  <tr>
    <td class="text-center" id="upcoming"> Upcoming </td>
  <tr>  
  <%= render partial: "table", locals: {events: @upcoming} %>

  <tr>
    <td class="text-center" id="future"> Future </td>
  <tr>  
  <%= render partial: "table", locals: {events: @future} %>

  <tr>
    <td id="old"> Old </td>
  <tr>  
  <%= render partial: "table", locals: {events: @old} %>
</tbody>
</table>
