<div class="form-group">
  <%= form_tag res_path, :method => "get" do |f| %>
    <div class="input-group">
      <span class="form-control">
    <%= text_field_tag :query, nil, class: 'form-control typeahead', autocomplete: 'off', placeholder: placeholder %>
      </span>

      <div class="input-group-append">

          <%= button_tag type: "submit", class: "btn btn-outline-primary", name: ""  do %>
              <i class="fa fa-search"></i>
          <% end %>

      </div>
    </div>
  <% end %>
</div>
