<% content_for :head do %>
  <script type="text/javascript">
    $(document).on('ready',function(){
      initTypeahead('/communities/typeahead', '/communities/');
    });
  </script>
<% end %>

<div class="row">
  <div class="col-md-6">
    <h1>Community</h1>
  </div>
  <div class="col-md-6">
    <%= render partial: "search_form", locals: {res_path: communities_path, placeholder: "Ricerca community"}  %>
  </div>
</div>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sede</th>
      <th>Ambito</th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= link_to page.name, page %></td>
        <td><%= page.location %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
