<div class="row">
  <div class="col-md-6">
    <h1>Post di <%= link_to @user.name, @user %></h1>
  </div>
</div>
<hr>
<div id="user-feed-app"></div>

<% content_for :scripts do %>

<script type="text/javascript">
  var UserFeed = new Vue(App.default.UserFeed);
  UserFeed.$data.filter.author = "<%=raw @user.uid %>";
  UserFeed.$mount('#user-feed-app');
</script>

<% end %>
