<h2>Bevenuti a <strong>Isamuni</strong>!</h2>

<p>Isamuni è un progetto che mira a supportare il panorama IT in Sicilia in due modi:
  <ul>
    <li>dando una panoramica delle aziende e community siciliane nell'ambito IT</li>
    <li>aggregando eventi e discussioni dalle varie community</li>
  </ul>
</p>

<p>Isamuni è mantenuto dalla community di <a href="https://www.facebook.com/groups/programmatoriCatania/">Programmatori a Catania</a> ed un progetto <a href="https://github.com/sic2/isamuni">opensource</a>, che può essere usato per iniziative simili</p>

<p>
  I dati che raccogliamo sono disponibili tramite <a href="<%= opendata_path %>"> REST API</a>
</p>
<h3>In Sicilia ci sono:
</h3>
<h4>
  <i class="fa fa-industry"></i> X aziende che si occupano di informatica
  <br>
  <i class="fa fa-institution"></i> Y comunità
  <br>
  <i class="fa fa-users"></i> Z studenti o professionisti nel campo
  <br>
  <i class="fa fa-rss-square"></i> la scorsa settimana ci sono stati W post nelle varie comunità tecniche (FB only)
  <br>
  <i class="fa fa-calendar"></i> L eventi organizzati per le prossime due settimane
</h4>
