<p>An information aggregator for Facebook groups.</p>
<p>The word <strong>isamuni</strong> comes from the Sicilian dialect and means: let's stand up.</p>

<p>Here will go a D3 graph showing posts over time, type of posts and who has posted. Possible to select a time period</p>

<div class="row">
	<div class="col-lg-8">
	<div class="card-columns">
	   <% @posts.each do |post| %>
		<div class="card" style="background-color: #C5E1A5; border-color: #AED581;">
			<%= render partial: "card", locals: {post: post} %>
		</div>
		<% end %>
	</div>
	</div>
	<div class="col-lg-4">
        <% @posts_jobs.each do |post| %>
		<div class="card" style="background-color: #90CAF9; border-color: #64B5F6;">
			<%= render partial: "card", locals: {post: post} %>
		</div>
		<% end %>
	</div>
</div>
  
