<h2>Bevenuti a Isamuni</h2>
<p>Isamuni è un progetto che mira a supportare il panorama IT in Sicilia in due modi:
  <ul>
    <li>dando una panoramica delle aziende e community siciliane nell'ambito IT</li>
    <li>aggregando eventi e discussioni dalle varie community</li>
  </ul>
</p>
<p>Isamuni è mantenuto dalla community di Programmatori a Catania ed un progetto opensource, che può essere usato per iniziative simili</p>
<p>
  <a href="<%= opendata_path %>">
    I dati che raccogliamo sono disponibili tramite API
  </a>
</p>
<h3>In Sicilia ci sono
</h3>
<h4>
  <i class="fa fa-industry"></i> X aziende che si occupano di informatica
  <br>
  <i class="fa fa-institution"></i> Y comunità
  <br>
  <i class="fa fa-users"></i> Z studenti o professionisti nel campo
  <br>
  <i class="fa fa-rss-square"></i> la scorsa settimana ci sono stati W post nelle varie comunità tecniche
  <br>
  <i class="fa fa-calendar"></i> e sono organizzati L eventi per le prossime due settimane
</h4>
