<p>
	Quando effettui il login tramite Facebook, Isamuni raccoglie automaticamente i seguenti dati (e soltanto questi)
	<ul>
		<li>Nome e Cognome</li>
		<li>Immagine di profilo</li>
	</ul>
</p>
<p>
    Quando accedi a Isamuni per la prima volta, creaimo un profilo sul nostro database, che puoi rendere pubblico o privato, e che puoi personalizzare con le informazioni su di te che vuoi mostrare agli altri (Isamuni agisce come una vetrina!).<br>
    Inserendo i tuoi dati su Isamuni, accetti che possano essere mostrati ai visitatori di Isamuni, e che possano essere usati per offrire ai visitatori statistiche sulla presenza di professionisti e attività in Sicilia.
</p>
<p>
    Per fare da vetrina ai vari gruppi tecnici presenti in Sicilia, e mostrare in automatico le attività che svolgono, raccogliamo da Facebook dei dati pubblici (ovvero visibili da chiunque collegandosi a Facebook senza effettuare il login) su post ed eventi di alcuni gruppi e pagine facebook.
</p>
<p>
	Non abbiamo attualmente una procedura automatizzata per rimuovere completamente il tuo profilo, o i post in cui compari, ma puoi contattarci in ogni momento tramite i contatti che trovi in home page, e saremo disponibilissimi a rispondere a qualsiasi richiesta in merito.
</p>
<p>
    Infine, includiamo delle risorse di terze parti, che potrebbero impostare dei cookie di tracciamento. Tra cui:
    <ul>
        <li>Google Analytics, per raccogliere statistiche sui visitatori (che puoi rifiutare come cookie opzionali)</li>
        <li>Immagini da Facebook</li>
    </ul>
</p>