<h2>Accedi a Isamuni</h2>
<p>
	Puoi accedere su Isamuni effettuando il <a href="/auth/facebook">login tramite Facebook</a> (il link è lo stesso per login e registrazione).<br/>
  Una volta effettuato l'accesso verrai aggiunto alla lista degli utenti, e potrai:
  <ul>
    <li>modificare il tuo profilo</li>
    <li>creare pagine per aziende o community</li>
    <li>modificarne le pagine per cui hai i permessi</li>
    <li>richiedere i permessi di modifica per una pagina esistente</li>
  </ul>
</p>
<p>
	Effettuando il login, Isamuni raccoglierà i seguenti dati:
	<ul>
		<li>Nome e Cognome</li>
		<li>Foto di profilo</li>
	</ul>
</p>
<p>
	Per cancellare il proprio profilo non abbiamo attualmente una procedura automatizzata. Puoi contattare uno degli amministratori usando i dati nella home, saremo ben felici di effettuare la procedura manualmente.
</p>
