<h2>Accedi a Isamuni</h2>
<p>
	Puoi accedere su Isamuni effettuando il login tramite Facebook cliccando <a href="/auth/facebook">qui</a>. Una volta effettuato l'accesso verrai registrato tra gli utenti, potrai modificare il tuo profilo, registrare pagine (link o community), e modificarne i dati associati. Il link è lo stesso per il login e la registrazione.
</p>