<h2>Accedi a Isamuni</h2>
<%= form_tag("/password_login", method: :post) do |f| %>
    <label for="email"> Email
        <input type="email" name="email" id="email">
    </label><br>
    <label for="password"> Password
        <input type="password" name="password" id="password">
    </label>
    <input type="submit" value="Invia">
<% end %>