---

## REST API

The following documentation is ==work in progress==. Please report any problems to the administrators of the project (via email programmatori.a.catania@gmail.com or submit an issue on the [github project](https://github.com/sic2/isamuni)).

You can click the **Test** buttons to see live examples of the REST APIs. The output is truncated to avoid large amount of data populating this page.

### Index

- [Users](#users)
- [Pages](#pages)
- [Events](#events)
- [Communities Feed](#communities-feed)

---

### Users

**Get all users**

```
GET /users.json

RESPONSE
HTTP/1.1 200 OK
Content-type: application/json

[
	{
		"name" : "name of user",
		""
	}
]
```

<p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseUsersTest" aria-expanded="false" aria-controls="collapseUsersTest">
    Test
  </button>
</p>
<div class="collapse" id="collapseUsersTest">
  <p class="card card-block" style="font-family:monospace; white-space:pre" id="usersJSON" />
</div>

<script>
$('#collapseUsersTest').on('show.bs.collapse', function () {
  $.get("/users.json", function(data) {
  	var json = JSON.stringify(data, null, '\t').substring(0, 500);
  	$("#usersJSON").html(json);
  });
})
</script>

---

### Pages

Pages are of two categories: **community** pages and **company** pages.


**Get all community pages**

```
GET /communities.json

...
```

<p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseCommunitiesTest" aria-expanded="false" aria-controls="collapseCommunitiesTest">
    Test
  </button>
</p>
<div class="collapse" id="collapseCommunitiesTest">
  <p class="card card-block" style="font-family:monospace; white-space:pre" id="communitiesJSON" />
</div>

<script>
$('#collapseCommunitiesTest').on('show.bs.collapse', function () {
  $.get("/communities.json", function(data) {
  	var json = JSON.stringify(data, null, '\t').substring(0, 500);;
  	$("#communitiesJSON").html(json);
  });
})
</script>

**Get all company pages**

```
GET /companies.json

...
```

<p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseCompaniesTest" aria-expanded="false" aria-controls="collapseCompaniesTest">
    Test
  </button>
</p>
<div class="collapse" id="collapseCompaniesTest">
  <p class="card card-block" style="font-family:monospace; white-space:pre" id="companiesJSON" />
</div>

<script>
$('#collapseCompaniesTest').on('show.bs.collapse', function () {
  $.get("/companies.json", function(data) {
  	var json = JSON.stringify(data, null, '\t').substring(0, 500);;
  	$("#companiesJSON").html(json);
  });
})
</script>

---

### Events

**Get all events**

``` 
GET /events.json

RESPONSE
HTTP/1.1 200 OK
Content-type: application/json

[
	{
		"title" : "title of the event",
        "content" : "Content of the event",
        "coordinates" : "long, lat",
        "location" : LOC,
        "location_name" : LOC_NAME,
        "starts_at" : YYYY-MM-DD ..,
        "fb_uid" : "facebook event uid"
	}
]
```

<p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseEventsTest" aria-expanded="false" aria-controls="collapseEventsTest">
    Test
  </button>
</p>
<div class="collapse" id="collapseEventsTest">
  <p class="card card-block" style="font-family:monospace; white-space:pre" id="eventsJSON" />
</div>

<script>
$('#collapseEventsTest').on('show.bs.collapse', function () {
  $.get("/events.json", function(data) {
  	var json = JSON.stringify(data, null, '\t').substring(0, 500);;
  	$("#eventsJSON").html(json);
  });
})
</script>



**Get all upcoming events**
```
GET /events/upcoming.json

RESPONSE
HTTP/1.1 200 OK
Content-type: application/json

...
```

---

### Communities Feed

```
GET /feed.json

RESPONSE
HTTP/1.1 200 OK
Content-type: application/json

[
	{
		"content" : "content of the post",
		"type" : "type of post: status, photo, link, video, event",
		"submitted_by" : "submitter",
		"data_submitted" : day and time
	}
]
```
