## Isamuni's APIs

If you are reading this, then you are probably interested in ISAMUNI and want to get some data out of it.

Isamuni is an information aggregator for Facebook groups. The word **isamuni** comes from the Sicilian dialect and means: let's stand up.

We collect two types of data: **passive data** and **user active data**. Passive data is all data crawled from Facebook (e.g. posts, events, user names, etc). User active data, instead, is all data manually entered by the users of the platform.

The following documentation is **==work in progress==**. Please report any problems or suggestions to the administrators of the project (via email programmatori.a.catania@gmail.com or submit an issue on the [github project](https://github.com/sic2/isamuni)).

You can click the <button class="btn btn-primary btn-sm">Test</button> buttons to see live examples of the REST APIs. The output is truncated to avoid large amount of data populating this page.

---

### Users

**Get all users**

```
GET /users.json

RESPONSE
HTTP/1.1 200 OK
Content-type: application/json

[
  {
    "name" : "Valentino Rossi",
    "occupation" : "student, engineer, etc",
    "description" : "Hello, I really like C++",
    "projects" : "isamuni",
    "links" : "http://www.example.com",
    "slug" : "valentino-rossi"
  }
]
```

<p>
  <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseUsersTest" aria-expanded="false" aria-controls="collapseUsersTest">
    Test
  </button>
</p>
<div class="collapse" id="collapseUsersTest">
  <div class="card card-block">
    <p class="card-text" style="font-family:monospace; white-space:pre-wrap " id="usersJSON" />
  </div>
</div>

<script>
$('#collapseUsersTest').on('show.bs.collapse', function () {
  $.get("/users.json", function(data) {
  	var json = JSON.stringify(data, null, '\t').substring(0, 1500);
  	$("#usersJSON").html(json);
  });
})
</script>

---

### Pages

Pages are of two categories: **community** pages and **company** pages.

```
GET /communities.json # OR: GET /companies.json 

RESPONSE
HTTP/1.1 200 OK
Content-type: application/json
[
  {
    "name" : "name",
    "links" : "links",
    "description" : "page description",
    "contacts" : "page contacts",
    "slug" : "page slug"
  }
]

...
```

**Communities**

<p>
  <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseCommunitiesTest" aria-expanded="false" aria-controls="collapseCommunitiesTest">
    Test
  </button>
</p>
<div class="collapse" id="collapseCommunitiesTest">
  <div class="card card-block">
    <p class="card-text" style="font-family:monospace; white-space:pre-wrap " id="communitiesJSON" />
  </div>
</div>

<script>
$('#collapseCommunitiesTest').on('show.bs.collapse', function () {
  $.get("/communities.json", function(data) {
  	var json = JSON.stringify(data, null, '\t').substring(0, 1500);;
  	$("#communitiesJSON").html(json);
  });
})
</script>

**Companies**
<p>
  <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseCompaniesTest" aria-expanded="false" aria-controls="collapseCompaniesTest">
    Test
  </button>
</p>
<div class="collapse" id="collapseCompaniesTest">
  <div class="card card-block">
    <p class="card-text" style="font-family:monospace; white-space:pre-wrap " id="companiesJSON" />
  </div>
</div>

<script>
$('#collapseCompaniesTest').on('show.bs.collapse', function () {
  $.get("/companies.json", function(data) {
  	var json = JSON.stringify(data, null, '\t').substring(0, 1500);;
  	$("#companiesJSON").html(json);
  });
})
</script>

---

### Events

**Get all events**

``` 
GET /events.json

RESPONSE
HTTP/1.1 200 OK
Content-type: application/json

[
	{
        "name" : "name of the event",
        "content" : "Content of the event",
        "location" : LOC,
        "location_name" : LOC_NAME,
        "starts_at" : YYYY-MM-DD ..,
        "ends_at" : YYYY-MM-DD ..
	}
]
```

<p>
  <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseEventsTest" aria-expanded="false" aria-controls="collapseEventsTest">
    Test
  </button>
</p>
<div class="collapse" id="collapseEventsTest">
  <div class="card card-block">
    <p class="card-text" style="font-family:monospace; white-space:pre-wrap " id="eventsJSON" />
  </div>
</div>

<script>
$('#collapseEventsTest').on('show.bs.collapse', function () {
  $.get("/events.json", function(data) {
  	var json = JSON.stringify(data, null, '\t').substring(0, 1500);;
  	$("#eventsJSON").html(json);
  });
})
</script>


---

### Feed

```
GET /feed.json

RESPONSE
HTTP/1.1 200 OK
Content-type: application/json

[
	{
        "name" : "post name",
        "post_type" : "type of post: status, photo, link, video, event",
        "content" : "content of the post",
        "link" : "link contained in post",
        "author_name" : "author",
        "created_at" : day and time
	}
]
```

<p>
  <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseFeedTest" aria-expanded="false" aria-controls="collapseFeedTest">
    Test
  </button>
</p>
<div class="collapse" id="collapseFeedTest">
  <div class="card card-block">
    <p class="card-text" style="font-family:monospace; white-space:pre-wrap " id="feedJSON" />
  </div>
</div>

<script>
$('#collapseFeedTest').on('show.bs.collapse', function () {
  $.get("/feed.json", function(data) {
    var json = JSON.stringify(data, null, '\t').substring(0, 1500);;
    $("#feedJSON").html(json);
  });
})
</script>
