Hello!
<br>
<p>
	If you are reading this, then you are probably interested in ISAMUNI and want to get some data out of it.
</p>

<p>
	We collect two types of data: passive data and user active data. Passive data is all data crawled from FB (e.g. posts, events, user names, etc). User active data, instead, is all data manually entered by the users of the platform.
</p>

<p>An information aggregator for Facebook groups.</p>
<p>The word <strong>isamuni</strong> comes from the Sicilian dialect and means: let's stand up.
<br>
</p>
