<p>
	Hello!
</p>
<p>
	If you are reading this, then you are probably interested in ISAMUNI and want to get some data out of it.
</p>

<p>
	Isamuni is an information aggregator for Facebook groups.
	The word <strong>isamuni</strong> comes from the Sicilian dialect and means: let's stand up.
</p>
<p>
	We collect two types of data: <strong>passive data</strong> and <strong>user active data</strong>. Passive data is all data crawled from Facebook (e.g. posts, events, user names, etc). User active data, instead, is all data manually entered by the users of the platform.
</p>

<%= markdown_html(render :partial => 'rest') %>
<br>